.timeline {
  @apply h-10 bg-zinc-900 relative;

  .item_container {
    @apply absolute top-1/2 left-1/2 h-full pointer-events-none;
    @apply transition-transform duration-[25] ease-out;
    @apply transform-gpu -translate-y-1/2 will-change-transform;

    --tw-translate-x: calc(var(--pos-x));
    width: var(--width);

    .start {
      @apply absolute top-0 left-0 -translate-x-full h-full w-screen bg-black/50 pointer-events-none;
      @apply border-r-2 border-zinc-800;
    }
    .end {
      @apply absolute top-0 right-0 translate-x-full h-full w-screen bg-black/50 pointer-events-none;
      @apply border-l-2 border-zinc-800 -z-10;
    }
  }
  .item {
    @apply absolute top-1/2 h-full flex flex-col justify-center;
    @apply transition-transform duration-[25] ease-out;
    @apply transform-gpu -translate-y-1/2;
    @apply text-white text-left text-sm cursor-pointer pointer-events-auto;
    @apply border-l-2 -ml-[2px] pl-2 border-l-zinc-400/50;

    --tw-translate-x: calc(var(--item-x));

    .timeCode {
      @apply text-zinc-400 -mt-1;
    }
  }

  .toggle_button {
    @apply absolute top-1/2 left-4 h-7 w-7 flex flex-col justify-center;
    @apply -translate-y-1/2 text-zinc-400 cursor-pointer;
    @apply hover:text-zinc-100 transition-colors duration-200 ease-out;
    > * {
      @apply h-full w-full;
    }
  }

  &::after,
  &::before {
    @apply absolute top-0 left-0 w-1/2 h-full;
    @apply border-r-2 border-r-zinc-400;
    @apply pointer-events-none;
    content: "";
  }
  // &::before {
  //   @apply bg-black;
  // }
}

.drawer {
  @apply fixed w-72 h-full p-4 top-0 left-0 bg-gray-100 z-50;
  @apply flex flex-col gap-4;

  .header {
    @apply text-gray-900 text-xl font-bold flex w-full items-center;
    h2 {
      @apply flex-1;
    }
  }

  .close {
    @apply float-right text-gray-400 cursor-pointer;
    @apply hover:text-gray-900 transition-colors duration-200 ease-out;
  }

  button {
    @apply w-full h-10 bg-gray-200 text-gray-900 text-sm font-bold;
    @apply rounded-md shadow-sm hover:bg-gray-300 transition-colors duration-200 ease-out;
    @apply focus:focus-visible:ring-4 outline-0 ring-blue-400/60;
  }

  .items {
    @apply flex flex-col gap-4 overflow-y-scroll rounded-md;

    .drawer_item {
      @apply flex flex-row bg-gray-200 border-2 border-gray-300 rounded-md p-2 items-center;

      .item_descriptors {
        @apply flex flex-col gap-2 flex-1;
      }

      input {
        @apply rounded py-1 px-2 w-full focus:focus-visible:ring-4 outline-0 ring-blue-400/60;
      }

      .remove {
        @apply text-red-600 cursor-pointer hover:text-red-800 transition-colors duration-200 h-full w-10 pl-4 mr-2;
        @apply focus:focus-visible:ring-4 outline-0 ring-blue-400/60;
      }
    }
  }
}

.overlay {
  @apply fixed top-0 left-0 w-full h-full bg-black/50 z-40;
}
